*{
    box-sizing: border-box;
}

:root{
    --color-uno: #1C6758;
    --color-dos: #3D8361;
    --color-tres: #D6CDA4;
    --color-cuatro: #EEF2E6;
}

body{
    text-align: center;
    background-color: var(--color-tres);
    font-family: 'roboto', sans-serif;
}

#logo{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.logo{
    width: 100%;   
    border-radius: 50%; 
    margin-top: 30%;
}

.btn-header li{
    list-style-type: none;
    background-color: var(--color-uno);
    margin: 2px auto;
    height: 30px;
    border-radius: 5px;
    padding-top: 1%;
}

.btn-header li:hover{
    background-color: var(--color-dos);
    height: 50px;
    transition: 1s ease;
    padding-top: 3%;
}

ul{
    padding: 0;
}

li a{
    color: var(--color-cuatro);
    vertical-align: middle;
    text-decoration: none;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 90%;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .slide-img{
    background-color: var(--color-uno);
    padding: 2%;
    padding-bottom: 1%;
    border-radius: 5px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev{
    left: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text-img {
    color: var(--color-cuatro);
    background-color: var(--color-uno);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    width: 50%;
    margin: 2% 25%;
    border-radius: 20px;
    opacity: 0.8;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .three-dots{
    display: none;
  }

 
footer{
    background-color: var(--color-uno);
    padding: 2%;
    padding-bottom: 5%;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}

.direcciones{
    background-color: var(--color-cuatro);
    border-radius: 5px;
}

.direcciones p {
    margin-top: 3%;
    margin-bottom: 1%
}

#map {
	height: 170px;
    width: 100%;
    border-radius: 5px;
    border: solid 2px var(--color-cuatro);
}

.red-img{
    width: 30%;
    padding: 2%;
    margin-top: 1%;
    color: var(--color-uno);
}

.media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 40%;
    position: absolute;
    right: 8%;
    padding-bottom: 2%;
    margin-left: 30%;
}

.media li{
    list-style-type: none;
}

/*perdidos*/


 .grilla {
    width: 90%;
    margin: 5% auto;
    /* display:grid;
    size-adjust: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    grid-template-rows: auto;
    padding: 20px */
} 
.grilla div {
background:#1c6758;
padding: 1em;
}
.grilla div {
    transition: all 2s;
    max-width: 100%;
}
.grilla div:hover {
    border: 2px solid var(--color-cuatro);
    transform: scale(1.2,1.2);
    z-index: 10;
}
.ImagenP{
    width: 100%;
    object-fit: cover;
}
.DescripcionP{
    position: relative;
    margin: 1%;
    font-size: smaller;
    color: var(--color-cuatro);
    width: 95%;

}

fieldset{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2%;
}

.form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2%;
    margin: 2%;
}

.form-foto{
    margin-bottom: 5%;
}

.form-btn{
    margin: 5% auto;
}

#comentarios{
    width: 100%;
    margin-bottom: 5%;
}

.form-zonas{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 5%;
    margin-top: 5%;
}

.mascota{
    margin-top: 5%;
}

@media(min-width: 430px){
    .encabezado{
        padding: 10%;
    }
}

@media(min-width: 700px){
    h1{
        margin: auto;
    }
    .logo{
        margin-top: 10%;
    }
    
    #botonera_principal ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1%;
    }
    #botonera_principal ul li{
        width: 100%;
        padding-top: 2%;
    }

    .btn-header li:hover{
        background-color: var(--color-dos);
        height: 30px;
    }


    /*carrousel*/
    .three-dots{
        display: block;
        margin-bottom: 8%;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: var(--color-cuatro);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: var(--color-dos);
      }
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
    
      .contenedor-footer{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 2%;
      }

      .direcciones{
        padding-top: 6%;
      }

      .media{
        width: 50%;
        right: 5%;
      }

      /*perdidos*/
      .grilla{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2%;
        width: 90%;
      }

      /*formularios*/
      .form-zonas{
        display: inline;
      }

      .verificar{
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .form-foto{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .form-btn{
        margin-top: 5%;
      }
      
      .btn{
            width: 20%;
            height: 50px;
      }
}

@media(min-width: 1200px){
    .grilla{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}